<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/"
			   xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:env="http://www.sitecore.net/xmlconfig/env">
	<sitecore role:require="Standalone or ContentManagement or ContentDelivery">
		<settings>
			<!-- USE SOFT COMMITS If enabled, soft commits are used. The auto-commit must be enabled and configured in solr before enabling this setting. Default vaue: false
			Please note, if the setting is enabled, the auto-commit must be enabled and configured in Solr.-->
			<setting name="ContentSearch.Solr.UseSoftCommits" value="false" />
		</settings>
	</sitecore>
</configuration>