<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:search="http://www.sitecore.net/xmlconfig/search/">
	<sitecore role:require="Standalone or ContentManagement or ContentDelivery" search:require="solr">
		<contentSearch>
			<indexConfigurations>
				<solrHttpWebRequestFactory type="Sitecore.ContentSearch.SolrProvider.SolrNetIntegration.Requests.SolrHttpWebRequestAdaptingFactory, Sitecore.ContentSearch.SolrProvider">
					<param type="Sitecore.ContentSearch.Remote.Http.CompositeHttpWebRequestFactory, Sitecore.ContentSearch">
						<initializers hint="list:AddInitializer">
							<!-- Add ConnectionLeaseInitializer to enable setting the value of ConnectionLeaseTimeout in HttpWebRequest This is useful for disaster recovery scenarios when hosting multiple solr servers behind a DNS -->
							<connectionLeaseTimeout type="Sitecore.ContentSearch.SolrProvider.SolrNetIntegration.Requests.SolrHttpRequestInitializerFactory, Sitecore.ContentSearch.SolrProvider" factoryMethod="EnableConnectionLeaseTimeout" />
						</initializers>
					</param>
				</solrHttpWebRequestFactory>
			</indexConfigurations>
		</contentSearch>
		<settings>
			<!-- CONNECTION LEASE TIMEOUT The timeout interval for the Solr server HttpWebRequest connection lease. A value of 00:00:00 means that the active HttpWebRequest will immediately be closed after it completes servicing the request. A value of 00:03:00 means that the active HttpWebRequest will be closed 3 minutes after it completes servicing the request. Default value: 00:03:00 -->
			<setting name="ContentSearch.Solr.HttpWebRequest.ConnectionLeaseTimeout" value="00:03:00" />
		</settings>
	</sitecore>
</configuration>