<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/"
			   xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:env="http://www.sitecore.net/xmlconfig/env">
	<sitecore role:require="Standalone or ContentManagement or ContentDelivery">
		<settings>
			<!-- RESTRICT DELETE BY INDEX NAME If enabled, the delete command removes only documents in the solr core/collection which are associated with the current index.
			The value must be set to true, if multiple indexes are stored in a single Solr core/collection. Default vaue: true 
			Please note, this setting can be set to false only if ALL Sitecore indexes are stored in dedicated Solr cores/collections.-->
			<setting name="ContentSearch.Solr.RestrictDeleteByIndexName" value="true" />
		</settings>
	</sitecore>
</configuration>